<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Load properties from application.properties -->
	<springProperty name="syslogEnabled" source="syslog.enabled" defaultValue="true" />
	<springProperty name="syslogHost" source="syslog.host" defaultValue="localhost" />
	<springProperty name="syslogPort" source="syslog.port" defaultValue="514" />
	<springProperty name="syslogProtocol" source="syslog.protocol" defaultValue="UDP" />
	<springProperty name="syslogFacility" source="syslog.facility" defaultValue="LOCAL0" />
	<springProperty name="syslogAppName" source="syslog.app-name" defaultValue="kavun" />

	<!-- Base pattern for system logs (simpler) -->
	<property name="BASE_SYS_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %highlight(%-5level) | [%thread] | %logger{36} | %msg%n" />
	<!-- Base pattern for application logs (audit) -->
	<property name="BASE_APP_PATTERN" value="kavun-audit %d{yyyy-MM-dd HH:mm:ss.SSS} | %highlight(%-5level) | [%thread] | %logger{36} | %X{hostname:-N/A} | %X{ip:-N/A} | %X{userIp:-N/A} | %X{user:-N/A} | %X{url:-N/A} | %X{action:-N/A} | %X{queryParams:-N/A} | %X{body:-N/A} | %msg%n" />
	<!-- Base pattern for web access logs -->
	<property name="BASE_WEB_ACCESS_PATTERN" value="kavun-web-access - %X{ip:-0.0.0.0} - - [%d{dd/MMM/yyyy:HH:mm:ss Z}] &quot;%X{action:-GET} %X{url:-/} %X{protocol:-HTTP/1.1}&quot; %X{status:-200} %X{responseSize:-0}%n %d{dd-MMM-yyyy HH:mm:ss Z} | [%thread] | Date/Time : %d{dd.MM.yyyy HH:mm:ss} | HTTP Request Method : %X{action} | URI : %X{url} | Protocol : %X{protocol} | Status Code : %X{status} | Client IP : %X{ip}%n" />
	
	<!-- Appender for system logs (simple log pattern) -->
	<appender name="SYSTEM_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				${BASE_SYS_PATTERN}
			</pattern>
		</encoder>
	</appender>
	<!-- Appender for application logs (detailed log pattern with MDC) -->
	<appender name="APP_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				${BASE_APP_PATTERN}
			</pattern>
		</encoder>
	</appender>
	<!-- Appender for web access logs (detailed log pattern with MDC) -->
	<appender name="WEB_ACCESS_LOGS" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				${BASE_WEB_ACCESS_PATTERN}
			</pattern>
		</encoder>
	</appender>

	<!-- Appender for syslog, active under specified profiles -->
	<springProfile name="development | test | production | docker">
		<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
			<syslogHost>
				${syslogHost}
			</syslogHost>
			<port>
				${syslogPort}
			</port>
			<facility>
				${syslogFacility}
			</facility>
			<protocol>
				${syslogProtocol}
			</protocol>
			<suffixPattern>
				${BASE_APP_PATTERN}
			</suffixPattern>
		</appender>
	</springProfile>
	<!-- Logger for system logs (uses simple pattern) -->
	<logger name="com.system" level="INFO" additivity="false">
		<appender-ref ref="SYSTEM_CONSOLE" />
	</logger>
	<!-- Logger for application logs (detailed) -->
	<springProfile name="development | test | production | docker">
		<logger name="com.kavun.annotation.LoggingFilter" level="INFO" additivity="false">
			<appender-ref ref="WEB_ACCESS_LOGS" />
			<appender-ref ref="SYSLOG" />
		</logger>
		<logger name="com.kavun.annotation.impl.MethodLogger" level="INFO" additivity="false">
			<appender-ref ref="APP_CONSOLE" />
			<appender-ref ref="SYSLOG" />
		</logger>

	</springProfile>
	<!-- Root logger (uses simpler system log pattern) -->
	<root level="INFO">
		<appender-ref ref="SYSTEM_CONSOLE" />
	</root>
</configuration>
